<div class="left-section">
    <div id="links">
        <div class="row">
            <div class="col-1"><a href="https://scholar.google.com">Most Recent</a></div>
        </div>
        <div class="row">
            <div class="col-1"><a href="https://scholar.google.com">Data Projects</a></div>
        </div>
        <div class="row">
            <div class="col-1"><a href="https://scholar.google.com">Archive</a></div>
        </div>
    </div>
</div>
<div class="right-section">
    <div id="article_div">
        <div id="title_div" class="text-center">Article Name</div>
        <div id="author_div" class="text-left">
            <div class="logo">
                <div id="logo-text1" class="text-center">Publius</div>
                <div id="logo-text2" class="text-center">2.0</div>
            </div>
        </div>
        <div id="date_div" class="text-left">Date</div>
        <div id="subtitle_div" class="text-left">Subtitle</div>
        <div id="image_div" class="text-left">
        </div>
        <div id="article_text_div" class="text-left">
        </div>
    </div>
    <div id="tooltip"></div>
</div>