<div id="top_div">
    <header id="header">
        <div id="left-header">
            <li id="about">
                <a href="/about/index.html">About</a>
            </li>
            <li id="mastodon">
                <a href="https://mastodon.social/@thepointprocess">Mastodon</a>
            </li>
            <li id="reddit">
                <a href="https://www.reddit.com/u/ThePointProcess/">Reddit</a>
            </li>
        </div>
        <div id="home">
            <h1 id="home-title" class="text-center" onclick="homePage()">The Point Process</h1>
            <canvas id="terminal"></canvas>
            <br>
            <h4 id="home-subtitle" class="text-center">In Defense of Decentralization and Democracy</h4>
        </div>
        <div id="right-header">
            <div id="search">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="20" height="20">
                    <path stroke-linecape="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </div>
            <div id="signin">
                Sign in
            </div>
            <div id="subscribe">
                <button>Subscribe</button>
            </div>
        </div>
    </header>
    <div id="container"></div>
</div>