<div class="left-section">
    <div class="logo">
        <div id="logo-text1" class="text-center">Publius</div>
        <div id="logo-text2" class="text-center">2.0</div>
    </div>
    <div id="links">
        <div class="row">
            <div class="col-1"><a href="https://scholar.google.com">Most Recent</a></div>
        </div>
        <div class="row">
            <div class="col-1"><a href="https://scholar.google.com">Data Projects</a></div>
        </div>
        <div class="row">
            <div class="col-1"><a href="https://scholar.google.com">Archive</a></div>
        </div>
    </div>
</div>
<div class="right-section">
    <div id="tooltip"></div>
</div>